* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e6e6e4;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1512px;
    padding: 0 120px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

header .logo {
    font-size: 32px;
    font-weight: 400;
    color: #1f1d2a;
}

header ul {
    display: flex;
    gap: 50px;
}

header ul li {
    list-style-type: none;
    position: relative;
}

header ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #1f1d2a;
    text-decoration: none;
}

a {
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

header .sign-in {
    border: 1px solid #1f1d2a;
    padding: 10px 20px;
    font-size: 16px;
    color: #1f1d2a;
    border-radius: 6px;
    font-weight: 400;
}

.banners {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.banner-left h1 {
    font-size: 55px;
    font-weight: 600;
    color: #1f1d2a;
    margin-bottom: 30px;
}

.banner-left p {
    font-size: 16px;
    font-weight: 400px;
    color: #9b948e;
    margin-bottom: 50px;
}

.banner-left button {
    padding: 20px 16px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    color: #1f1d2a;
    border: none;
    background-color: #96c67f;
    cursor: pointer;
}

.banner-right {
    position: relative;
}

.banner-right img {
    width: 100%;
    border-radius: 50%;
}

.banner-right>.sub-img {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}

.banner-right .sub-img2 {
    position: absolute;
    background-color: #fff;
    width: 180px;
    border-radius: 20px;
    padding: 20px;
    bottom: 0;
    left: 80px;
}

.banner-right .sub-img2 h5 {
    font-size: 16px;
}

.banner-right .sub-img2 p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #9b948e;
}

.banner-right .sub-img2 span {
    color: #ffb988;
    font-size: 22px;
}

.trademark {
    text-align: center;
    margin-bottom: 100px;
}

.trademark h4 {
    font-size: 16px;
    font-weight: 500;
    color: #1f1d2a;
    margin-bottom: 30px;
}

.trademark .trademark-item {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.trademark .trademark-item img {
    height: 30px;
}

.today {
    text-align: center;
    margin-bottom: 70px;
}

.today p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.today h2 {
    font-size: 32px;
    font-weight: 600;
}

.today h2 span {
    position: relative;
    z-index: 8;
}

.today h2 span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 4px;
    background-color: #96c67f;
    opacity: 0.5;
}

.people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.people img {
    width: 295px;
    height: 350px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    /* margin-bottom: 20px; */
}

.people-content {
    background-color: #fff;
    border-radius: 15px;
}

.people-content .content-title {
    padding: 20px;
}

.people-content .content-title h4 {
    font-size: 20px;
    font-weight: 500;
}

.people-content .content-title p {
    font-size: 16px;
    font-weight: 400;
    color: #9b948e;
}